openapi: 3.1.0
info:
  title: User Service API
  description: User Service
  termsOfService: http://swagger.io/terms/
  license:
    name: Apache 2.0
    url: http://springdoc.org
  version: 0.0.1-SNAPSHOT
servers:
  - url: https://demo-api.incodesmile.com
    description: Incode demo environment
security:
  - ApiKeyAuth: []
    IncodeHardwareIdAuth: []
tags:
  - name: API Keys
    description: |
      Following endpoints facilitate API key rotation, for security reasons - current key gets stolen, user access needs
      to be revoked, organization expires, etc. It is good practice to rotate them every once in a while, regardless
      (e.g. every three months).

      **Migration**
      There used to be only one API key per organization, created and registered on API Gateway at the time of organization
      creation. Each organization has a user defined `name`, on which 3 random digits are added to generate `clientId`,
      on which sha1 was applied to generate `apiKey`. Field `clientId` was also used as organization identifier, while
      `apiKey` also served as organization reference.

      With the rotatable approach, API key management is delegated to a separate collection, which would contain `clientId`
      and `value` for each record. This also enables having multiple API keys per organization. Fields `clientId`/`apiKey`
      on organization entity will keep their identifier/reference function, to maintain referential integrity between entities.

      In order to facilitate the new approach and ensure backwards compatibility, a migration process is established.
      Through it, API key related fields are copied from Organization to RotatableApiKey collection, so that in the end
      each organization would have a corresponding rotatable key created. Key validity is checked on API Gateway directly
      (if applicable, otherwise set to `true`). All subsequent API key management would affect new collection only.
  - name: API Validations
    description: |
      Standalone API validations that are not related to any interview or onboarding process. This helps with various
      identity verifications specific to certain countries such as CURP and INE in Mexico or SSN in USA.
paths:
  /omni/start:
    post:
      tags:
        - Onboarding
      summary: Start onboarding
      description: |
        This endpoint is mandatory to start any onboarding session in Incode Omni and session can be monitored on the Incode Dashboard.
        And it generates token which should be used for the authentication of future subsequent calls.
      operationId: startInterview
      parameters:
        - in: header
          name: api-version
          required: true
          schema:
            default: '1.0'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                language:
                  type: string
                  description: 'Language code to be used when doing speech to text. Possible values: en-US, es-ES, pt-BR.'
                interviewId:
                  type: string
                  description: InterviewId from a previous onboarding, including it helps get a new token for that id.
                externalId:
                  type: string
                  deprecated: true
                  description: Id that identifies user in clients system should be used for externalId. (Deprecated, use externalCustomerId instead)
                  example: client34598
                externalCustomerId:
                  type: string
                  description: Id that identifies user in clients external system.
                  example: client123
                uuid:
                  type: string
                  description: uuid key used in redis, can be used as an alternative to sending interviewId.
                configurationId:
                  type: string
                  description: Id of the flow to be used for this onboarding.
                redirectionUrl:
                  type: string
                  description: Url the user will be redirected to after finishing the onboarding successfully.
                  example: https://www.google.com
                customFields:
                  type: object
                  additionalProperties:
                    type: string
                  description: Used to send any additional information in key value pair format.
                  example:
                    firstName: Mike
                    lastName: Larson
              x-readme-ref-name: StartRequest
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  interviewId:
                    type: string
                    description: Identifies the onboarding session that is initialized. Can be used for fetching data about that session in future calls.
                    maxLength: 24
                    minLength: 24
                  token:
                    type: string
                    description: Internal JWT token used for the future subsequent calls. It is the value for X-Incode-Hardware-Id header in all other calls.
                    maxLength: 2048
                  interviewCode:
                    type: string
                    description: This value is used for connecting to conference call.
                    maxLength: 6
                    minLength: 6
                  flowType:
                    type: string
                    description: (only if configurationId is sent in request). Type of the flow used. Could be flow (in most cases), or legacy type configuration (not used anymore).
                    enum:
                      - configuration
                      - flow
                      - workflow
                  idCaptureTimeout:
                    type: integer
                    format: int32
                    description: Number of seconds after which manual capture button should be shown to the user, while capturing ID when ID is detected.
                  idDetectionTimeout:
                    type: integer
                    format: int32
                    description: Number of seconds after which manual capture button should be shown to the user, if ID is not detected.
                  selfieCaptureTimeout:
                    type: integer
                    format: int32
                    description: Number of seconds after which manual capture button should be shown to the user, while capturing selfie.
                  idCaptureRetries:
                    type: integer
                    format: int32
                    description: Number of ID captures after which user should be taken to next screen.
                  selfieCaptureRetries:
                    type: integer
                    format: int32
                    description: Number of selfie captures after which user should be taken to next screen.
                  curpValidationRetries:
                    type: integer
                    format: int32
                    description: Number of curp validations after which user should be taken to next screen. (only for Mexico)
                  clientId:
                    type: string
                    description: Customer specific clientId that corresponds to api key.
                  env:
                    type: string
                    description: 'Server environment. Could be one of: stage, demo, saas.'
                  existingSession:
                    type: boolean
                    description: It's true if interviewId corresponds to an existing Onboarding Session.
                x-readme-ref-name: StartResponse
        '400':
          description: |
            Custom error statuses:
            - 4026: Invalid uuid parameter
            - 4027: Invalid configurationId
            - 4028: Flow is not activated
          content:
            application/json:
              schema:
                properties:
                  timestamp:
                    type: integer
                    format: int64
                    description: UTC timestamp in milliseconds
                  status:
                    type: integer
                    format: int32
                    description: Custom error code or HTTP status code
                  error:
                    type: string
                    description: HTTP status error
                  message:
                    type: string
                    description: Custom error message
                  path:
                    type: string
                    description: Endpoint path
                  details:
                    description: Custom error details
                x-readme-ref-name: ExceptionResponse
      security:
        - ApiKeyAuth: []
  /omni/add/geolocation:
    post:
      tags:
        - Onboarding
      summary: Add geolocation
      description: Send location to store in database, or send coordinates and fetch location and store it
      operationId: addGeolocation
      parameters:
        - in: header
          name: api-version
          required: true
          schema:
            default: '1.0'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                longitude:
                  type: number
                  format: float
                  description: User's geolocation longitude
                  example: 22.3456
                latitude:
                  type: number
                  format: float
                  description: User's geolocation latitude
                  example: 44.56783
                location:
                  type: string
                  description: User's current location
                madminArea:
                  type: string
                msubAdminArea:
                  type: string
                msubLocality:
                  type: string
                mthoroughfare:
                  type: string
                msubThoroughfare:
                  type: string
                mpostalCode:
                  type: string
                mcountryCode:
                  type: string
                mcountryName:
                  type: string
                mlocality:
                  type: string
              required:
                - latitude
                - longitude
              x-readme-ref-name: ReverseGeolocationRequest
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  timestamp:
                    type: integer
                    format: int64
                    description: UTC timestamp in milliseconds
                  status:
                    type: integer
                    format: int32
                    description: Custom error code or HTTP status code
                  error:
                    type: string
                    description: HTTP status error
                  message:
                    type: string
                    description: Custom error message
                  path:
                    type: string
                    description: Endpoint path
                  details:
                    description: Custom error details
                x-readme-ref-name: ExceptionResponse
  /omni/add/front-id/v2:
    post:
      tags:
        - Onboarding
      summary: Add front side of ID
      description: |
        This endpoint is used for storing front side of id for further processing. Image quality check is performed during that call.
        Number of retries is not limited.

        Once [process-id](#/Onboarding/processId) is finished, this endpoint cannot be called for retries.

        **Note: Front side of id should be uploaded before [back-side](#/Onboarding/addBackIdV2)**
      operationId: addFrontIdV2
      parameters:
        - name: onlyFront
          in: query
          description: Flag stating if document is one-sided (like Passport)
          required: false
          schema:
            type: boolean
            default: false
        - in: header
          name: api-version
          required: true
          schema:
            default: '1.0'
      requestBody:
        description: Front side of id. In case of passport, this should be page with all data about user.
        content:
          application/json:
            schema:
              properties:
                base64Image:
                  type: string
                  description: Image in base64 format. One of base64Image or imageUrl is required
                  example: /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAEBAQEBAQEBAQEBAQEBAQEB...
                imageUrl:
                  type: string
                  description: URL of the image. One of base64Image or imageUrl is required
                  example: http://...
              x-readme-ref-name: IdCaptureV2Request
        required: true
      responses:
        '200':
          description: |
            In case there's some issue when calling the endpoint due to classification failed, an issue such as bad quality,
            or any of the fail reasons the response will always have the field:
            - classification
            - failReason
            - sharpness
            - glare
            - horizontalResolution

            We recommend considering the call as failed if there's a failReason in the response or if the classification is false.
            Possible values for fail reason:
            - UNKNOWN_DOCUMENT_TYPE: document classification failed
            - WRONG_DOCUMENT_SIDE: can happen when uploading back side of id when front id is required or the other way around
            - WRONG_ONE_SIDED_DOCUMENT: uploading wrong document with only one side
            - WRONG_UNFOLDED_DOCUMENT: uploading unfolded document with unrecognizable sides
            - UNFOLDED_DOCUMENT_PAGE_MISMATCH: uploading unfolded document with mismatching sides
            - DOCUMENT_NOT_READABLE: document couldn't be read, probably due to image quality
            - UNABLE_TO_ALIGN_DOCUMENT: alignment failed
            - ID_TYPE_UNACCEPTABLE: invalid type of id
            - UNEXPECTED_ERROR_OCCURRED: unexpected error

            Whenever the classification is done successfully the fields that will always be present are:
            - classification
            - sharpness
            - glare
            - horizontalResolution
            - readability
            - typeOfId
            - sessionStatus

            The remaining fields could be optional depending on the specific type of id and country of origin.
          content:
            application/json:
              schema:
                properties:
                  correctSharpness:
                    type: boolean
                    description: It's true if the sharpness of the ID meets the requirements.
                  correctGlare:
                    type: boolean
                    description: It's true if the glare of the ID meets the requirements.
                  horizontalResolution:
                    type: integer
                    format: int32
                    description: Value is based on the resolution of the cropped photo. Low value means after performing the crop we have a bad quality of image. We recommend to retry capture if value is below 155.
                  shadowConfidence:
                    type: number
                    format: float
                    description: Value 0 means it is no shadow on the image and image quality is good, while value 1 represents bad quality of image with a lot of shadow. We recommend to retry capture if value is 1.
                    maximum: 1
                    minimum: 0
                  classification:
                    type: boolean
                    description: If true, server classified image as a front side of an id. If false, server failed to classify image as valid front side of an id or passport and other parameters can be ignored.
                  readability:
                    type: boolean
                    description: If true, server can properly read ID. If false server failed to read some key places of the ID.
                  typeOfId:
                    type: string
                  issueYear:
                    type: integer
                    format: int32
                    description: Issue year of the ID. N/A for Brazilian ids.
                  issueName:
                    type: string
                    description: Description of the ID. Could contain country code, state, type of ID, subtype of ID. N/A for Brazilian ids.
                  curpCheck:
                    type: boolean
                    description: Only for Mexican IDs. Flag stating if curp was properly read.
                  sessionStatus:
                    type: string
                    description: Session Status
                    enum:
                      - Alive
                      - Closed
                      - Deleted
                  countryCode:
                    type: string
                    description: Valid ISO alpha-2 or alpha-3 code of the ID issuing country.
                  state:
                    type: string
                    description: Issuing state of the ID.
                  failReason:
                    type: string
                    description: Classification fail reason
                    enum:
                      - UNKNOWN_DOCUMENT_TYPE
                      - WRONG_DOCUMENT_SIDE
                      - WRONG_ONE_SIDED_DOCUMENT
                      - UNFOLDED_DOCUMENT_PAGE_MISMATCH
                      - WRONG_UNFOLDED_DOCUMENT
                      - DOCUMENT_NOT_READABLE
                      - UNABLE_TO_ALIGN_DOCUMENT
                      - ID_TYPE_UNACCEPTABLE
                      - UNEXPECTED_ERROR_OCCURRED
                  skipBackIdCapture:
                    type: boolean
                    description: Flag that signals if back id capture should be skipped or not.
                  showMandatoryConsent:
                    type: boolean
                    description: Render mandatory consent page based on this parameter value.
                  regulationType:
                    type: string
                    description: Regulation type for the mandatory consent (only if showMandatoryConsent set to true).
                  skipGlareFront:
                    type: boolean
                    description: Flag that signals if front side glare should be ignored.
                  skipGlareBack:
                    type: boolean
                    description: Flag that signals if back side glare should be ignored.
                  documentIsOnTheEdge:
                    type: boolean
                    description: Flag that signals if document is on the edge on the full frame image.
                  acceptedDocuments:
                    type: array
                    description: List of accepted documents for that particular country in case of ID_TYPE_UNACCEPTABLE failReason.
                    items:
                      type: string
                      enum:
                        - Unknown
                        - Passport
                        - Visa
                        - DriversLicense
                        - IdentificationCard
                        - Permit
                        - Currency
                        - ResidenceDocument
                        - TravelDocument
                        - BirthCertificate
                        - VehicleRegistration
                        - Other
                        - WeaponLicense
                        - TribalIdentification
                        - VoterIdentification
                        - Military
                        - TaxIdentification
                        - FederalID
                        - MedicalCard
                    uniqueItems: true
                  imageRedacted:
                    type: boolean
                    description: Flag that signals if image was redacted as part of the ID capture.
                x-readme-ref-name: IdProcessResponse
        '400':
          description: |
            Custom error statuses:
            - 1003: Face cropping failure
            - 4004: Could not find user
            - 4019: Face not found
          content:
            application/json:
              schema:
                properties:
                  timestamp:
                    type: integer
                    format: int64
                    description: UTC timestamp in milliseconds
                  status:
                    type: integer
                    format: int32
                    description: Custom error code or HTTP status code
                  error:
                    type: string
                    description: HTTP status error
                  message:
                    type: string
                    description: Custom error message
                  path:
                    type: string
                    description: Endpoint path
                  details:
                    description: Custom error details
                x-readme-ref-name: ExceptionResponse
  /omni/add/back-id/v2:
    post:
      tags:
        - Onboarding
      summary: Add back side of ID
      description: |
        This endpoint is used for storing back side of id for further processing. Image quality check is performed during that call.
        Number of retries is not limited.

        Once [process-id](#/Onboarding/processId) is finished, this endpoint cannot be called for retries.

        **Note**: Front-side of id should be uploaded before back side.

        In case of passport or only front sided documents, this endpoint should not be called.
      operationId: addBackIdV2
      parameters:
        - name: retry
          in: query
          description: Flag stating that this is retry attempt for add/back-id
          required: false
          schema:
            type: boolean
            default: false
        - in: header
          name: api-version
          required: true
          schema:
            default: '1.0'
      requestBody:
        description: Back side of id
        content:
          application/json:
            schema:
              properties:
                base64Image:
                  type: string
                  description: Image in base64 format. One of base64Image or imageUrl is required
                  example: /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAEBAQEBAQEBAQEBAQEBAQEB...
                imageUrl:
                  type: string
                  description: URL of the image. One of base64Image or imageUrl is required
                  example: http://...
              x-readme-ref-name: IdCaptureV2Request
        required: true
      responses:
        '200':
          description: |
            In case there's some issue when calling the endpoint due to classification failed, an issue such as bad quality,
            or any of the fail reasons the response will always have the field:
            - classification
            - failReason
            - sharpness
            - glare
            - horizontalResolution

            We recommend considering the call as failed if there's a failReason in the response or if the classification is false.
            Possible values for fail reason:
            - UNKNOWN_DOCUMENT_TYPE: document classification failed
            - WRONG_DOCUMENT_SIDE: can happen when uploading back side of id when front id is required or the other way around
            - WRONG_ONE_SIDED_DOCUMENT: uploading wrong document with only one side
            - WRONG_UNFOLDED_DOCUMENT: uploading unfolded document with unrecognizable sides
            - UNFOLDED_DOCUMENT_PAGE_MISMATCH: uploading unfolded document with mismatching sides
            - DOCUMENT_NOT_READABLE: document couldn't be read, probably due to image quality
            - UNABLE_TO_ALIGN_DOCUMENT: alignment failed
            - ID_TYPE_UNACCEPTABLE: invalid type of id
            - UNEXPECTED_ERROR_OCCURRED: unexpected error

            Whenever the classification is done successfully the fields that will always be present are:
            - classification
            - sharpness
            - glare
            - horizontalResolution
            - readibility
            - typeOfId
            - sessionStatus

            The remaining fields could be optional depending on the specific type of id and country of origin.
          content:
            application/json:
              schema:
                properties:
                  correctSharpness:
                    type: boolean
                    description: It's true if the sharpness of the ID meets the requirements.
                  correctGlare:
                    type: boolean
                    description: It's true if the glare of the ID meets the requirements.
                  horizontalResolution:
                    type: integer
                    format: int32
                    description: Value is based on the resolution of the cropped photo. Low value means after performing the crop we have a bad quality of image. We recommend to retry capture if value is below 155.
                  shadowConfidence:
                    type: number
                    format: float
                    description: Value 0 means it is no shadow on the image and image quality is good, while value 1 represents bad quality of image with a lot of shadow. We recommend to retry capture if value is 1.
                    maximum: 1
                    minimum: 0
                  classification:
                    type: boolean
                    description: If true, server classified image as a front side of an id. If false, server failed to classify image as valid front side of an id or passport and other parameters can be ignored.
                  readability:
                    type: boolean
                    description: If true, server can properly read ID. If false server failed to read some key places of the ID.
                  typeOfId:
                    type: string
                  issueYear:
                    type: integer
                    format: int32
                    description: Issue year of the ID. N/A for Brazilian ids.
                  issueName:
                    type: string
                    description: Description of the ID. Could contain country code, state, type of ID, subtype of ID. N/A for Brazilian ids.
                  curpCheck:
                    type: boolean
                    description: Only for Mexican IDs. Flag stating if curp was properly read.
                  sessionStatus:
                    type: string
                    description: Session Status
                    enum:
                      - Alive
                      - Closed
                      - Deleted
                  countryCode:
                    type: string
                    description: Valid ISO alpha-2 or alpha-3 code of the ID issuing country.
                  state:
                    type: string
                    description: Issuing state of the ID.
                  failReason:
                    type: string
                    description: Classification fail reason
                    enum:
                      - UNKNOWN_DOCUMENT_TYPE
                      - WRONG_DOCUMENT_SIDE
                      - WRONG_ONE_SIDED_DOCUMENT
                      - UNFOLDED_DOCUMENT_PAGE_MISMATCH
                      - WRONG_UNFOLDED_DOCUMENT
                      - DOCUMENT_NOT_READABLE
                      - UNABLE_TO_ALIGN_DOCUMENT
                      - ID_TYPE_UNACCEPTABLE
                      - UNEXPECTED_ERROR_OCCURRED
                  skipBackIdCapture:
                    type: boolean
                    description: Flag that signals if back id capture should be skipped or not.
                  showMandatoryConsent:
                    type: boolean
                    description: Render mandatory consent page based on this parameter value.
                  regulationType:
                    type: string
                    description: Regulation type for the mandatory consent (only if showMandatoryConsent set to true).
                  skipGlareFront:
                    type: boolean
                    description: Flag that signals if front side glare should be ignored.
                  skipGlareBack:
                    type: boolean
                    description: Flag that signals if back side glare should be ignored.
                  documentIsOnTheEdge:
                    type: boolean
                    description: Flag that signals if document is on the edge on the full frame image.
                  acceptedDocuments:
                    type: array
                    description: List of accepted documents for that particular country in case of ID_TYPE_UNACCEPTABLE failReason.
                    items:
                      type: string
                      enum:
                        - Unknown
                        - Passport
                        - Visa
                        - DriversLicense
                        - IdentificationCard
                        - Permit
                        - Currency
                        - ResidenceDocument
                        - TravelDocument
                        - BirthCertificate
                        - VehicleRegistration
                        - Other
                        - WeaponLicense
                        - TribalIdentification
                        - VoterIdentification
                        - Military
                        - TaxIdentification
                        - FederalID
                        - MedicalCard
                    uniqueItems: true
                  imageRedacted:
                    type: boolean
                    description: Flag that signals if image was redacted as part of the ID capture.
                x-readme-ref-name: IdProcessResponse
        '400':
          description: |
            Custom error statuses:
            - 4004: Could not find user
            - 5003: Unsatisfied image size
          content:
            application/json:
              schema:
                properties:
                  timestamp:
                    type: integer
                    format: int64
                    description: UTC timestamp in milliseconds
                  status:
                    type: integer
                    format: int32
                    description: Custom error code or HTTP status code
                  error:
                    type: string
                    description: HTTP status error
                  message:
                    type: string
                    description: Custom error message
                  path:
                    type: string
                    description: Endpoint path
                  details:
                    description: Custom error details
                x-readme-ref-name: ExceptionResponse
  /omni/add/face/third-party:
    post:
      tags:
        - Onboarding
      summary: Add face/Selfie image
      description: |
        Uploads selfie image for onboarding session. Response will contain data regarding liveness — if that is the photo of a real person.
        Number of retries is not limited.

        **Note**: After selfie and front-id are uploaded, endpoint for comparing faces process-face on those two images can be called.

        It is required that person is alone on the photo.
      operationId: addFaceByThirdParty
      parameters:
        - name: imageType
          in: query
          description: Image type. Default is selfie
          required: false
          schema:
            type: string
            enum:
              - selfie
              - videoSelfie
              - id
              - nfc
        - name: captureType
          in: query
          required: false
          schema:
            type: string
            enum:
              - AUTO
              - MANUAL
              - NATIVE
              - UPLOAD
        - name: externalCaptureId
          in: query
          required: false
          schema:
            type: string
        - name: recordingId
          in: query
          required: false
          schema:
            type: string
        - in: header
          name: api-version
          required: true
          schema:
            default: '1.0'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                base64Image:
                  type: string
                  description: Image of user's face represented in base64.
                  example: /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAEBAQEBAQEBAQEBAQEBAQEB...
                imageUrl:
                  type: string
                  description: URL of face image, required to belong to a whitelisted domain
                  example: https://...
                faceCoordinates:
                  description: Face coordinates
                  properties:
                    leftEyeX:
                      type: number
                      format: float
                      description: Left eye coordinates for X
                      example: 1391.01
                    leftEyeY:
                      type: number
                      format: float
                      description: Left eye coordinates for Y
                      example: 1334.62
                    rightEyeX:
                      type: number
                      format: float
                      description: Right eye coordinates for X
                      example: 918.383
                    rightEyeY:
                      type: number
                      format: float
                      description: Right eye coordinates for Y
                      example: 1359.96
                    mouthX:
                      type: number
                      format: float
                      deprecated: true
                      description: 'Left mouth coordinates for X. Note: the field is deprecated, use leftMouthX instead'
                      example: 918.383
                    leftMouthX:
                      type: number
                      format: float
                      description: Left mouth coordinates for X
                      example: 918.383
                    mouthY:
                      type: number
                      format: float
                      deprecated: true
                      description: 'Left mouth coordinates for Y. Note: the field is deprecated, use leftMouthY instead'
                      example: 1359.96
                    leftMouthY:
                      type: number
                      format: float
                      description: Left mouth coordinates for Y
                      example: 1359.96
                    rightMouthX:
                      type: number
                      format: float
                      description: Right mouth coordinates for X
                      example: 918.383
                    rightMouthY:
                      type: number
                      format: float
                      description: Right mouth coordinates for Y
                      example: 1359.96
                    noseTipX:
                      type: number
                      format: float
                      description: Nose coordinates for X
                      example: 918.383
                    noseTipY:
                      type: number
                      format: float
                      description: Nose coordinates for Y
                      example: 1359.96
                    x:
                      type: number
                      format: float
                      description: X coordinate of face rectangle.
                      example: 448
                    'y':
                      type: number
                      format: float
                      description: Y coordinate of face rectangle.
                      example: 778
                    width:
                      type: number
                      format: float
                      description: Width of face rectangle.
                      example: 1366
                    height:
                      type: number
                      format: float
                      description: Height of face rectangle.
                      example: 1366
                  required:
                    - height
                    - leftEyeX
                    - leftEyeY
                    - noseTipX
                    - noseTipY
                    - rightEyeX
                    - rightEyeY
                    - rightMouthX
                    - rightMouthY
                    - width
                    - x
                    - 'y'
                  x-readme-ref-name: FaceCoordinatesDto
              x-readme-ref-name: AddFaceRequest
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  age:
                    type: integer
                    format: int32
                    description: Age of th person in the photo.
                  isBright:
                    type: boolean
                    description: We recommend capturing another photo if value is false.
                  confidence:
                    type: number
                    format: float
                    description: Value 0 means that person on photo is alive. We recommend capturing another photo if value is 1.
                    maximum: 1
                    minimum: 0
                  hasLenses:
                    type: boolean
                    description: We recommend capturing another photo if value is true.
                  hasFaceMask:
                    type: boolean
                    description: Checked only if configured in the session flow. We recommend capturing another photo if value is true.
                  hasClosedEyes:
                    type: boolean
                    description: Checked only if configured in the session flow. We recommend capturing another photo if value is true.
                  hasHeadCover:
                    type: boolean
                    description: Checked only if configured in the session flow. We recommend capturing another photo if value is true.
                  sessionStatus:
                    type: string
                    description: SessionStatus
                    enum:
                      - Alive
                      - Closed
                      - Deleted
                x-readme-ref-name: AddFaceResponse
        '400':
          description: |
            Custom error statuses:
            - 4010: More than one face detected
            - 4019: Face not found
            - 1001: Face cropping failure
            - 1003: Face cropping failure
            - 3002: Face cropping failure
            - 3004: Face cropping failure
            - 3005: Unsatisfied face size
            - 3006: Unsatisfied blurriness level
            - 3007: Unsatisfied brightness level
            - 3008: Unsatisfied image size
            - 3009: Unsatisfied image orientation
            - 3010: Unsatisfied image compression level
          content:
            application/json:
              schema:
                properties:
                  timestamp:
                    type: integer
                    format: int64
                    description: UTC timestamp in milliseconds
                  status:
                    type: integer
                    format: int32
                    description: Custom error code or HTTP status code
                  error:
                    type: string
                    description: HTTP status error
                  message:
                    type: string
                    description: Custom error message
                  path:
                    type: string
                    description: Endpoint path
                  details:
                    description: Custom error details
                x-readme-ref-name: ExceptionResponse
  /omni/add/document/v2:
    post:
      tags:
        - Onboarding
      summary: Add document V2
      description: Upload document image and store data.
      operationId: addDocumentV2
      parameters:
        - name: type
          in: query
          description: |
            - **signature**: Upload user's digital signature. This can be later fetched in get images endpoint.
            - **document**: Upload user's proof of address document. This can be later fetched in get images endpoint.
            - **addressStatement**: (Legacy) Upload user's proof of address document. Used for backward compatibility. Use type 'document' instead.
            - **medicalDoc**: Upload user's medical document.
            - **thirdId**: Upload user's third ID.
            - **contract**: Upload contract image.
          required: true
          schema:
            enum:
              - signature
              - document
              - medicalDoc
              - thirdId
              - contract
        - name: title
          in: query
          description: Only if type is contract. Title of contract.
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: Only if type is document. Possible values are image (jpg and png supported) or pdf. Default is image.
          required: false
          schema:
            type: string
            enum:
              - image
              - pdf
        - in: header
          name: api-version
          required: true
          schema:
            default: '1.0'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                base64Image:
                  type: string
                  description: Image in base64 format. One of base64Image or imageUrl is required
                  example: /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAEBAQEBAQEBAQEBAQEBAQEB...
                imageUrl:
                  type: string
                  description: URL of the image. One of base64Image or imageUrl is required
                  example: http://...
              x-readme-ref-name: Base64ImageOrImgUrlRequest
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    description: Flag indicating request passed successfully.
                  sessionStatus:
                    type: string
                    description: Session status
                    enum:
                      - Alive
                      - Closed
                      - Deleted
                x-readme-ref-name: BasicResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  timestamp:
                    type: integer
                    format: int64
                    description: UTC timestamp in milliseconds
                  status:
                    type: integer
                    format: int32
                    description: Custom error code or HTTP status code
                  error:
                    type: string
                    description: HTTP status error
                  message:
                    type: string
                    description: Custom error message
                  path:
                    type: string
                    description: Endpoint path
                  details:
                    description: Custom error details
                x-readme-ref-name: ExceptionResponse
  /omni/add/document:
    post:
      tags:
        - Onboarding
      summary: Add document
      description: |
        Upload document image and store data.

        **Note**: Make sure to put the 'Content-Type' header as 'Content-Type: image/jpeg' or 'Content-Type: image/png'.
      operationId: addDocument
      parameters:
        - name: type
          in: query
          description: |
            - **signature**: Upload user's digital signature. This can be later fetched in get images endpoint.
            - **document**: Upload user's proof of address document. This can be later fetched in get images endpoint.
            - **addressStatement**: (Legacy) Upload user's proof of address document. Used for backward compatibility. Use type 'document' instead.
            - **medicalDoc**: Upload user's medical document.
            - **thirdId**: Upload user's third ID.
            - **contract**: Upload contract image.
          required: true
          schema:
            enum:
              - signature
              - document
              - medicalDoc
              - thirdId
              - contract
        - name: title
          in: query
          description: Only if type is contract. Title of contract.
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: Only if type is document. Possible values are image (jpg and png supported) or pdf. Default is image.
          required: false
          schema:
            type: string
            enum:
              - image
              - pdf
        - in: header
          name: api-version
          required: true
          schema:
            default: '1.0'
      requestBody:
        description: Binary Image.
        content:
          application/json:
            schema:
              type: string
              format: byte
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    description: Flag indicating request passed successfully.
                  sessionStatus:
                    type: string
                    description: Session status
                    enum:
                      - Alive
                      - Closed
                      - Deleted
                x-readme-ref-name: BasicResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  timestamp:
                    type: integer
                    format: int64
                    description: UTC timestamp in milliseconds
                  status:
                    type: integer
                    format: int32
                    description: Custom error code or HTTP status code
                  error:
                    type: string
                    description: HTTP status error
                  message:
                    type: string
                    description: Custom error message
                  path:
                    type: string
                    description: Endpoint path
                  details:
                    description: Custom error details
                x-readme-ref-name: ExceptionResponse
  /omni/add/phone:
    post:
      tags:
        - Onboarding
      summary: Add phone
      description: Add phone to interview.
      operationId: addPhone
      parameters:
        - in: header
          name: api-version
          required: true
          schema:
            default: '1.0'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                phone:
                  type: string
                  description: User's phone number. E.164 number convention.
                  example: '+1111111'
                optInGranted:
                  type: boolean
                  default: 'false'
                  description: Indicates whether opt-in is granted
              required:
                - phone
              x-readme-ref-name: PhoneRequest
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    description: Flag indicating request passed successfully.
                  sessionStatus:
                    type: string
                    description: Session status
                    enum:
                      - Alive
                      - Closed
                      - Deleted
                  existingCustomer:
                    type: boolean
                    description: Flag indicating if this user with given phone already exists in the system.
                x-readme-ref-name: AddPhoneResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  timestamp:
                    type: integer
                    format: int64
                    description: UTC timestamp in milliseconds
                  status:
                    type: integer
                    format: int32
                    description: Custom error code or HTTP status code
                  error:
                    type: string
                    description: HTTP status error
                  message:
                    type: string
                    description: Custom error message
                  path:
                    type: string
                    description: Endpoint path
                  details:
                    description: Custom error details
                x-readme-ref-name: ExceptionResponse
  /omni/add/email:
    post:
      tags:
        - Onboarding
      summary: Add email
      description: Add email to interview.
      operationId: addEmail
      parameters:
        - in: header
          name: api-version
          required: true
          schema:
            default: '1.0'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email:
                  type: string
                  description: User's email. Has to be in valid format.
                  example: john.doe@example.com
              required:
                - email
              x-readme-ref-name: EmailRequest
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    description: Flag indicating request passed successfully.
                  sessionStatus:
                    type: string
                    description: Session status
                    enum:
                      - Alive
                      - Closed
                      - Deleted
                x-readme-ref-name: BasicResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  timestamp:
                    type: integer
                    format: int64
                    description: UTC timestamp in milliseconds
                  status:
                    type: integer
                    format: int32
                    description: Custom error code or HTTP status code
                  error:
                    type: string
                    description: HTTP status error
                  message:
                    type: string
                    description: Custom error message
                  path:
                    type: string
                    description: Endpoint path
                  details:
                    description: Custom error details
                x-readme-ref-name: ExceptionResponse
  /omni/add/barcode:
    post:
      tags:
        - Onboarding
      summary: Add Barcode
      description: Add raw barcode and parse it to interview.
      operationId: addBarcode
      parameters:
        - in: header
          name: api-version
          required: true
          schema:
            default: '1.0'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                rawBarcode:
                  type: string
                  description: Barcode in raw format
              required:
                - rawBarcode
              x-readme-ref-name: BarcodeRequest
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    description: Flag indicating request passed successfully.
                  sessionStatus:
                    type: string
                    description: Session status
                    enum:
                      - Alive
                      - Closed
                      - Deleted
                x-readme-ref-name: BasicResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  timestamp:
                    type: integer
                    format: int64
                    description: UTC timestamp in milliseconds
                  status:
                    type: integer
                    format: int32
                    description: Custom error code or HTTP status code
                  error:
                    type: string
                    description: HTTP status error
                  message:
                    type: string
                    description: Custom error message
                  path:
                    type: string
                    description: Endpoint path
                  details:
                    description: Custom error details
                x-readme-ref-name: ExceptionResponse
  /omni/add/barcode/v2:
    post:
      tags:
        - Onboarding
      summary: Add Base64 Barcode
      description: Add Base64 barcode and parse it to interview.
      operationId: addBarcodeV2
      parameters:
        - in: header
          name: api-version
          required: true
          schema:
            default: '1.0'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                base64Barcode:
                  type: string
                  description: Barcode in base64 format.
              required:
                - base64Barcode
              x-readme-ref-name: BarcodeV2Request
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    description: Flag indicating request passed successfully.
                  sessionStatus:
                    type: string
                    description: Session status
                    enum:
                      - Alive
                      - Closed
                      - Deleted
                x-readme-ref-name: BasicResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  timestamp:
                    type: integer
                    format: int64
                    description: UTC timestamp in milliseconds
                  status:
                    type: integer
                    format: int32
                    description: Custom error code or HTTP status code
                  error:
                    type: string
                    description: HTTP status error
                  message:
                    type: string
                    description: Custom error message
                  path:
                    type: string
                    description: Endpoint path
                  details:
                    description: Custom error details
                x-readme-ref-name: ExceptionResponse
  /omni/add/curp:
    post:
      tags:
        - Onboarding
      summary: Add curp
      description: Add curp and the validation process result to interview.
      operationId: addCurp
      parameters:
        - in: header
          name: api-version
          required: true
          schema:
            default: '1.0'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                curp:
                  type: string
                  description: User's curp. Has to be in valid format. If it isn't present, then curp value from interview is used.
                  example: COHJ950918HCMVRS09
              x-readme-ref-name: AddCurpRequest
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    description: Flag indicating request passed successfully.
                  curp:
                    type: string
                    description: Curp
                  sex:
                    type: string
                    description: Sex
                    enum:
                      - Mujer
                      - Hombre
                      - X
                  nationality:
                    type: string
                    description: Nationality
                  result:
                    type: string
                  transactionId:
                    type: string
                  renapo_valid:
                    type: boolean
                    description: Flag indicating if CURP validation passed - tipoError present in response
                  names:
                    type: string
                    description: Names
                  paternal_surname:
                    type: string
                    description: Paternal surname
                  mothers_maiden_name:
                    type: string
                    description: Mother maiden name
                  birthdate:
                    type: string
                    description: Birth Date in format DD/MM/YYYY
                  entity_birth:
                    type: string
                    description: Birth State
                  probation_document:
                    type: string
                    description: Probation Document
                  probation_document_data:
                    type: object
                    additionalProperties: {}
                    description: |
                      Key/Value structure. All keys are type of string. Available Key values:
                      - anioReg
                      - foja
                      - tomo
                      - libro
                      - numActa
                      - CRIP
                      - numEntidadReg
                      - cveMunicipioReg
                      - numRegExtranjeros
                      - folioCarta
                      - cveEntidadNac
                      - cveEntidadEmisora
                  status_curp:
                    type: string
                    description: Status Curp
                  deceasedStatus:
                    type: string
                    description: Deceased Status
                x-readme-ref-name: CurpResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  timestamp:
                    type: integer
                    format: int64
                    description: UTC timestamp in milliseconds
                  status:
                    type: integer
                    format: int32
                    description: Custom error code or HTTP status code
                  error:
                    type: string
                    description: HTTP status error
                  message:
                    type: string
                    description: Custom error message
                  path:
                    type: string
                    description: Endpoint path
                  details:
                    description: Custom error details
                x-readme-ref-name: ExceptionResponse
        '500':
          description: Internal error during CURP validation.
        '504':
          description: The request to validate the CURP exceeded the allowed time limit
  /omni/add/curp/v2:
    post:
      tags:
        - Onboarding
      summary: Add curp v2
      description: |
        Add CURP and validation result based on a person data.
      operationId: addCurp2
      parameters:
        - name: interviewId
          in: query
          required: false
          schema:
            type: string
        - in: header
          name: api-version
          required: true
          schema:
            default: '1.0'
      requestBody:
        description: |
          Valid values for state are the ones listed by renapo in this link:
          [https://es.wikipedia.org/wiki/Plantilla:Abreviaciones_de_los_estados_de_México](https://es.wikipedia.org/wiki/Plantilla:Abreviaciones_de_los_estados_de_México)
        content:
          application/json:
            schema:
              properties:
                curp:
                  type: string
                  description: User's curp. Has to be in valid format. If it isn't present, then curp value from interview is used.
                  example: COHJ950918HCMVRS09
                name:
                  type: string
                firstLastName:
                  type: string
                secondLastName:
                  type: string
                gender:
                  type: string
                  description: Valid gender values are "H" (Hombre, male), "M" (mujer, female) and "X" (otro, other)
                  enum:
                    - H
                    - M
                    - X
                birthDate:
                  type: string
                  format: dd/mm/yyyy
                  example: 07/06/1995
                state:
                  type: string
                  example: CM
                externalId:
                  type: string
                  example: bdac7bdd-9339-4f85-9b32-bc90d553ddc6
              required:
                - birthDate
                - firstLastName
                - gender
                - name
                - state
              x-readme-ref-name: CurpDataRequest
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    description: Flag indicating request passed successfully.
                  curp:
                    type: string
                    description: Curp
                  sex:
                    type: string
                    description: Sex
                    enum:
                      - Mujer
                      - Hombre
                      - X
                  nationality:
                    type: string
                    description: Nationality
                  result:
                    type: string
                  transactionId:
                    type: string
                  renapo_valid:
                    type: boolean
                    description: Flag indicating if CURP validation passed - tipoError present in response
                  names:
                    type: string
                    description: Names
                  paternal_surname:
                    type: string
                    description: Paternal surname
                  mothers_maiden_name:
                    type: string
                    description: Mother maiden name
                  birthdate:
                    type: string
                    description: Birth Date in format DD/MM/YYYY
                  entity_birth:
                    type: string
                    description: Birth State
                  probation_document:
                    type: string
                    description: Probation Document
                  probation_document_data:
                    type: object
                    additionalProperties: {}
                    description: |
                      Key/Value structure. All keys are type of string. Available Key values:
                      - anioReg
                      - foja
                      - tomo
                      - libro
                      - numActa
                      - CRIP
                      - numEntidadReg
                      - cveMunicipioReg
                      - numRegExtranjeros
                      - folioCarta
                      - cveEntidadNac
                      - cveEntidadEmisora
                  status_curp:
                    type: string
                    description: Status Curp
                  deceasedStatus:
                    type: string
                    description: Deceased Status
                x-readme-ref-name: CurpResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  timestamp:
                    type: integer
                    format: int64
                    description: UTC timestamp in milliseconds
                  status:
                    type: integer
                    format: int32
                    description: Custom error code or HTTP status code
                  error:
                    type: string
                    description: HTTP status error
                  message:
                    type: string
                    description: Custom error message
                  path:
                    type: string
                    description: Endpoint path
                  details:
                    description: Custom error details
                x-readme-ref-name: ExceptionResponse
        '500':
          description: Internal error during CURP validation.
        '504':
          description: The request to validate the CURP exceeded the allowed time limit
  /omni/add/front-second-id/v2:
    post:
      tags:
        - Onboarding
      summary: Add front side of Second ID
      description: This endpoint is used for storing front side of second id for further processing
      operationId: addFrontSecondIdV2
      parameters:
        - name: onlyFront
          in: query
          description: Flag stating if document is one-sided (like Passport). Default value is false, in case it is not sent.
          required: false
          schema:
            type: boolean
            default: false
        - in: header
          name: api-version
          required: true
          schema:
            default: '1.0'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                base64Image:
                  type: string
                  description: Image in base64 format. One of base64Image or imageUrl is required
                  example: /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAEBAQEBAQEBAQEBAQEBAQEB...
                imageUrl:
                  type: string
                  description: URL of the image. One of base64Image or imageUrl is required
                  example: http://...
              x-readme-ref-name: IdCaptureV2Request
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  correctSharpness:
                    type: boolean
                    description: It's true if the sharpness of the ID meets the requirements.
                  correctGlare:
                    type: boolean
                    description: It's true if the glare of the ID meets the requirements.
                  horizontalResolution:
                    type: integer
                    format: int32
                    description: Value is based on the resolution of the cropped photo. Low value means after performing the crop we have a bad quality of image. We recommend to retry capture if value is below 155.
                  shadowConfidence:
                    type: number
                    format: float
                    description: Value 0 means it is no shadow on the image and image quality is good, while value 1 represents bad quality of image with a lot of shadow. We recommend to retry capture if value is 1.
                    maximum: 1
                    minimum: 0
                  classification:
                    type: boolean
                    description: If true, server classified image as a front side of an id. If false, server failed to classify image as valid front side of an id or passport and other parameters can be ignored.
                  readability:
                    type: boolean
                    description: If true, server can properly read ID. If false server failed to read some key places of the ID.
                  typeOfId:
                    type: string
                  issueYear:
                    type: integer
                    format: int32
                    description: Issue year of the ID. N/A for Brazilian ids.
                  issueName:
                    type: string
                    description: Description of the ID. Could contain country code, state, type of ID, subtype of ID. N/A for Brazilian ids.
                  curpCheck:
                    type: boolean
                    description: Only for Mexican IDs. Flag stating if curp was properly read.
                  sessionStatus:
                    type: string
                    description: Session Status
                    enum:
                      - Alive
                      - Closed
                      - Deleted
                  countryCode:
                    type: string
                    description: Valid ISO alpha-2 or alpha-3 code of the ID issuing country.
                  state:
                    type: string
                    description: Issuing state of the ID.
                  failReason:
                    type: string
                    description: Classification fail reason
                    enum:
                      - UNKNOWN_DOCUMENT_TYPE
                      - WRONG_DOCUMENT_SIDE
                      - WRONG_ONE_SIDED_DOCUMENT
                      - UNFOLDED_DOCUMENT_PAGE_MISMATCH
                      - WRONG_UNFOLDED_DOCUMENT
                      - DOCUMENT_NOT_READABLE
                      - UNABLE_TO_ALIGN_DOCUMENT
                      - ID_TYPE_UNACCEPTABLE
                      - UNEXPECTED_ERROR_OCCURRED
                  skipBackIdCapture:
                    type: boolean
                    description: Flag that signals if back id capture should be skipped or not.
                  showMandatoryConsent:
                    type: boolean
                    description: Render mandatory consent page based on this parameter value.
                  regulationType:
                    type: string
                    description: Regulation type for the mandatory consent (only if showMandatoryConsent set to true).
                  skipGlareFront:
                    type: boolean
                    description: Flag that signals if front side glare should be ignored.
                  skipGlareBack:
                    type: boolean
                    description: Flag that signals if back side glare should be ignored.
                  documentIsOnTheEdge:
                    type: boolean
                    description: Flag that signals if document is on the edge on the full frame image.
                  acceptedDocuments:
                    type: array
                    description: List of accepted documents for that particular country in case of ID_TYPE_UNACCEPTABLE failReason.
                    items:
                      type: string
                      enum:
                        - Unknown
                        - Passport
                        - Visa
                        - DriversLicense
                        - IdentificationCard
                        - Permit
                        - Currency
                        - ResidenceDocument
                        - TravelDocument
                        - BirthCertificate
                        - VehicleRegistration
                        - Other
                        - WeaponLicense
                        - TribalIdentification
                        - VoterIdentification
                        - Military
                        - TaxIdentification
                        - FederalID
                        - MedicalCard
                    uniqueItems: true
                  imageRedacted:
                    type: boolean
                    description: Flag that signals if image was redacted as part of the ID capture.
                x-readme-ref-name: IdProcessResponse
        '400':
          description: |
            Custom error statuses:
            - 4019: Face not found
            - 1003: Face cropping failure
          content:
            application/json:
              schema:
                properties:
                  timestamp:
                    type: integer
                    format: int64
                    description: UTC timestamp in milliseconds
                  status:
                    type: integer
                    format: int32
                    description: Custom error code or HTTP status code
                  error:
                    type: string
                    description: HTTP status error
                  message:
                    type: string
                    description: Custom error message
                  path:
                    type: string
                    description: Endpoint path
                  details:
                    description: Custom error details
                x-readme-ref-name: ExceptionResponse
  /omni/add/back-second-id/v2:
    post:
      tags:
        - Onboarding
      summary: Add back side of Second ID
      description: |
        Image quality check is performed during that call. Number of retries is not limited. Once id processing is finished,
        this endpoint cannot be called for retries. Front side of id should be uploaded before back side. In case of passport,
        this endpoint should not be called.
      operationId: addBackSecondIdV2
      parameters:
        - name: captureType
          in: query
          required: false
          schema:
            type: string
            enum:
              - AUTO
              - MANUAL
              - NATIVE
              - UPLOAD
        - in: header
          name: api-version
          required: true
          schema:
            default: '1.0'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                base64Image:
                  type: string
                  description: Image in base64 format. One of base64Image or imageUrl is required
                  example: /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAEBAQEBAQEBAQEBAQEBAQEB...
                imageUrl:
                  type: string
                  description: URL of the image. One of base64Image or imageUrl is required
                  example: http://...
              x-readme-ref-name: IdCaptureV2Request
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  correctSharpness:
                    type: boolean
                    description: It's true if the sharpness of the ID meets the requirements.
                  correctGlare:
                    type: boolean
                    description: It's true if the glare of the ID meets the requirements.
                  horizontalResolution:
                    type: integer
                    format: int32
                    description: Value is based on the resolution of the cropped photo. Low value means after performing the crop we have a bad quality of image. We recommend to retry capture if value is below 155.
                  shadowConfidence:
                    type: number
                    format: float
                    description: Value 0 means it is no shadow on the image and image quality is good, while value 1 represents bad quality of image with a lot of shadow. We recommend to retry capture if value is 1.
                    maximum: 1
                    minimum: 0
                  classification:
                    type: boolean
                    description: If true, server classified image as a front side of an id. If false, server failed to classify image as valid front side of an id or passport and other parameters can be ignored.
                  readability:
                    type: boolean
                    description: If true, server can properly read ID. If false server failed to read some key places of the ID.
                  typeOfId:
                    type: string
                  issueYear:
                    type: integer
                    format: int32
                    description: Issue year of the ID. N/A for Brazilian ids.
                  issueName:
                    type: string
                    description: Description of the ID. Could contain country code, state, type of ID, subtype of ID. N/A for Brazilian ids.
                  curpCheck:
                    type: boolean
                    description: Only for Mexican IDs. Flag stating if curp was properly read.
                  sessionStatus:
                    type: string
                    description: Session Status
                    enum:
                      - Alive
                      - Closed
                      - Deleted
                  countryCode:
                    type: string
                    description: Valid ISO alpha-2 or alpha-3 code of the ID issuing country.
                  state:
                    type: string
                    description: Issuing state of the ID.
                  failReason:
                    type: string
                    description: Classification fail reason
                    enum:
                      - UNKNOWN_DOCUMENT_TYPE
                      - WRONG_DOCUMENT_SIDE
                      - WRONG_ONE_SIDED_DOCUMENT
                      - UNFOLDED_DOCUMENT_PAGE_MISMATCH
                      - WRONG_UNFOLDED_DOCUMENT
                      - DOCUMENT_NOT_READABLE
                      - UNABLE_TO_ALIGN_DOCUMENT
                      - ID_TYPE_UNACCEPTABLE
                      - UNEXPECTED_ERROR_OCCURRED
                  skipBackIdCapture:
                    type: boolean
                    description: Flag that signals if back id capture should be skipped or not.
                  showMandatoryConsent:
                    type: boolean
                    description: Render mandatory consent page based on this parameter value.
                  regulationType:
                    type: string
                    description: Regulation type for the mandatory consent (only if showMandatoryConsent set to true).
                  skipGlareFront:
                    type: boolean
                    description: Flag that signals if front side glare should be ignored.
                  skipGlareBack:
                    type: boolean
                    description: Flag that signals if back side glare should be ignored.
                  documentIsOnTheEdge:
                    type: boolean
                    description: Flag that signals if document is on the edge on the full frame image.
                  acceptedDocuments:
                    type: array
                    description: List of accepted documents for that particular country in case of ID_TYPE_UNACCEPTABLE failReason.
                    items:
                      type: string
                      enum:
                        - Unknown
                        - Passport
                        - Visa
                        - DriversLicense
                        - IdentificationCard
                        - Permit
                        - Currency
                        - ResidenceDocument
                        - TravelDocument
                        - BirthCertificate
                        - VehicleRegistration
                        - Other
                        - WeaponLicense
                        - TribalIdentification
                        - VoterIdentification
                        - Military
                        - TaxIdentification
                        - FederalID
                        - MedicalCard
                    uniqueItems: true
                  imageRedacted:
                    type: boolean
                    description: Flag that signals if image was redacted as part of the ID capture.
                x-readme-ref-name: IdProcessResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  timestamp:
                    type: integer
                    format: int64
                    description: UTC timestamp in milliseconds
                  status:
                    type: integer
                    format: int32
                    description: Custom error code or HTTP status code
                  error:
                    type: string
                    description: HTTP status error
                  message:
                    type: string
                    description: Custom error message
                  path:
                    type: string
                    description: Endpoint path
                  details:
                    description: Custom error details
                x-readme-ref-name: ExceptionResponse
  /omni/external/send-sms:
    post:
      tags:
        - Onboarding
      summary: Send SMS with the link for onboarding
      description: Used by Admins or Executives to send SMS containing generated onboarding link.
      operationId: sendSmsExternal
      parameters:
        - name: id
          in: query
          description: Id of onboarding session for which link is being generated.
          required: true
          schema:
            type: string
        - in: header
          name: api-version
          required: true
          schema:
            default: '1.0'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                smsText:
                  type: string
                  description: Text to be shown with URL. Needs to have {0} placeholder inside for URL.
                  example: Here is the link to finish onboarding {0}
                clientId:
                  type: string
                  example: incode
                shortUrl:
                  type: boolean
                  description: Indicates whether the link should be shortened. If set to true, the link will be converted to a shortened version.
                queryParams:
                  description: 'Additional onboarding url query params allowed: lang'
                  properties:
                    lang:
                      type: string
                      example: lang
                  required:
                    - lang
                  x-readme-ref-name: SendSmsExternalUrlParams
              required:
                - clientId
              x-readme-ref-name: SendExternalSmsRequest
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    description: Flag indicating request passed successfully.
                  sessionStatus:
                    type: string
                    description: Session status
                    enum:
                      - Alive
                      - Closed
                      - Deleted
                x-readme-ref-name: BasicResponse
        '400':
          description: |
            Custom error status:
            - 4004: Could not find user
          content:
            application/json:
              schema:
                properties:
                  timestamp:
                    type: integer
                    format: int64
                    description: UTC timestamp in milliseconds
                  status:
                    type: integer
                    format: int32
                    description: Custom error code or HTTP status code
                  error:
                    type: string
                    description: HTTP status error
                  message:
                    type: string
                    description: Custom error message
                  path:
                    type: string
                    description: Endpoint path
                  details:
                    description: Custom error details
                x-readme-ref-name: ExceptionResponse
  /omni/send/sms-otp:
    get:
      tags:
        - Onboarding
      summary: Send SMS with One Time Password for onboarding
      description: |
        Send SMS with an OTP (One Time Password) code to validate an onboarding.
        Phone number is obtained from interview data, so phone step it's required.
      operationId: sendOTP
      parameters:
        - in: header
          name: api-version
          required: true
          schema:
            default: '1.0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    description: Flag indicating request passed successfully.
                  sessionStatus:
                    type: string
                    description: Session status
                    enum:
                      - Alive
                      - Closed
                      - Deleted
                x-readme-ref-name: BasicResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  timestamp:
                    type: integer
                    format: int64
                    description: UTC timestamp in milliseconds
                  status:
                    type: integer
                    format: int32
                    description: Custom error code or HTTP status code
                  error:
                    type: string
                    description: HTTP status error
                  message:
                    type: string
                    description: Custom error message
                  path:
                    type: string
                    description: Endpoint path
                  details:
                    description: Custom error details
                x-readme-ref-name: ExceptionResponse
  /omni/add/custom-fields:
    post:
      tags:
        - Onboarding
      summary: Add custom fields
      description: |
        This endpoint is used for adding custom fields to current onboarding session.
        The key must match one of the keys that are defined for the Organization, and the value must be of the type
        that is defined for the corresponding key.
      operationId: addCustomFields
      parameters:
        - in: header
          name: api-version
          required: true
          schema:
            default: '1.0'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                customFields:
                  type: object
                  additionalProperties: {}
                  example:
                    watchlistName: Name
              x-readme-ref-name: CustomFieldsRequest
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    description: Flag indicating request passed successfully.
                  sessionStatus:
                    type: string
                    description: Session status
                    enum:
                      - Alive
                      - Closed
                      - Deleted
                x-readme-ref-name: BasicResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  timestamp:
                    type: integer
                    format: int64
                    description: UTC timestamp in milliseconds
                  status:
                    type: integer
                    format: int32
                    description: Custom error code or HTTP status code
                  error:
                    type: string
                    description: HTTP status error
                  message:
                    type: string
                    description: Custom error message
                  path:
                    type: string
                    description: Endpoint path
                  details:
                    description: Custom error details
                x-readme-ref-name: ExceptionResponse
  /omni/get/custom-fields:
    get:
      tags:
        - Onboarding
      summary: Get custom fields
      description: This endpoint is used for fetching custom fields for current session.
      operationId: getCustomFields
      parameters:
        - in: header
          name: api-version
          required: true
          schema:
            default: '1.0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  customFields:
                    type: object
                    additionalProperties: {}
                    description: Map&lt;String, Object&gt;. Map of custom fields with type that was inserted.
                x-readme-ref-name: CustomFieldsResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  timestamp:
                    type: integer
                    format: int64
                    description: UTC timestamp in milliseconds
                  status:
                    type: integer
                    format: int32
                    description: Custom error code or HTTP status code
                  error:
                    type: string
                    description: HTTP status error
                  message:
                    type: string
                    description: Custom error message
                  path:
                    type: string
                    description: Endpoint path
                  details:
                    description: Custom error details
                x-readme-ref-name: ExceptionResponse
  /omni/process/id:
    post:
      tags:
        - Onboarding
      summary: Process Id
      description: |
        **Note**:This endpoint should be called only after the [front-side](#/Onboarding/addFrontIdV2)
        and [back-side](#/Onboarding/addBackIdV2) is over.
        And in case of passports or only front sided documents, only [front-side](#/Onboarding/addFrontIdV2) should be over.

        Incode validations and ocr parsing are processed during this endpoint. To fetch ocr data call [Fetch-OCR](#/Onboarding/getOcrData).

        Once this is called, user is no longer able to upload ID (front or back side).
      operationId: processId
      parameters:
        - name: queueName
          in: query
          description: The name of the queue, user is entering in case conference call will be used. If not set, default queue will be used
          required: false
          schema:
            enum:
              - aristotle
              - buddha
              - confucius
              - diogenes
        - in: header
          name: api-version
          required: true
          schema:
            default: '1.0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    description: Flag indicating request passed successfully.
                  sessionStatus:
                    type: string
                    description: Session status
                    enum:
                      - Alive
                      - Closed
                      - Deleted
                x-readme-ref-name: BasicResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  timestamp:
                    type: integer
                    format: int64
                    description: UTC timestamp in milliseconds
                  status:
                    type: integer
                    format: int32
                    description: Custom error code or HTTP status code
                  error:
                    type: string
                    description: HTTP status error
                  message:
                    type: string
                    description: Custom error message
                  path:
                    type: string
                    description: Endpoint path
                  details:
                    description: Custom error details
                x-readme-ref-name: ExceptionResponse
  /omni/process/second-id:
    post:
      tags:
        - Onboarding
      summary: Process Second Id
      description: |
        **Note**: This endpoint should be called only after the upload of [front-side-secondId](#/Onboarding/addFrontSecondIdV2) and
        [back-side-secondId](#/Onboarding/addBackSecondIdV2) is over. And in case of passports or only front sided documents, only
        [front-side-secondId](#/Onboarding/addFrontSecondIdV2) should be over.

        Incode validations and ocr parsing are processed during this endpoint. To fetch ocr data call
        [Fetch-SecondId_OCR](#/Onboarding/getOcrDataSecondId). Parameter queueName is needed so it can be determined in which queue
        interview should go. Once this is called, user is no longer able to upload ID (front or back side).
      operationId: processSecondId
      parameters:
        - name: queueName
          in: query
          required: false
          schema:
            description: |
              The name of the queue, user is entering in case conference call will be used. If not set, default queue will be used.
            enum:
              - aristotle
              - buddha
              - confucius
              - diogenes
        - in: header
          name: api-version
          required: true
          schema:
            default: '1.0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    description: Flag indicating request passed successfully.
                  sessionStatus:
                    type: string
                    description: Session status
                    enum:
                      - Alive
                      - Closed
                      - Deleted
                x-readme-ref-name: BasicResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  timestamp:
                    type: integer
                    format: int64
                    description: UTC timestamp in milliseconds
                  status:
                    type: integer
                    format: int32
                    description: Custom error code or HTTP status code
                  error:
                    type: string
                    description: HTTP status error
                  message:
                    type: string
                    description: Custom error message
                  path:
                    type: string
                    description: Endpoint path
                  details:
                    description: Custom error details
                x-readme-ref-name: ExceptionResponse
  /omni/externalVerification/ekyc:
    post:
      tags:
        - Onboarding
      summary: External Verification (eKYC)
      description: |
        This endpoint verifies phone, email, address, date of birth and tax numbers, specifically social security number (ssn).
        When making a request use "kyc" in the plugins array. To have the API return specific risk scores for phone, email, ssn (taxId)
        and address, see examples below.
      operationId: externalVerificationEkyc
      parameters:
        - in: header
          name: api-version
          required: true
          schema:
            default: '1.0'
      requestBody:
        description: |
          **Note**: When fields are provided they will override field values derived from a document scan.

          **Examples**

          Check address:
          ```
          {
              "plugins": ["kyc"],
              "firstName": "Jon",
              "surName": "Hasselhoff",
              "street": "101 Beach Highway",
              "postalCode": "90210",
              "state": "CA",
              "city": "Beverly Hills",
              "countryCode": "US"
          }
          ```


          Check email:
          ```
          {
              "plugins": ["kyc"],
              "firstName": "Jon",
              "surName": "Hasselhoff",
              "email": "david.hasselhoff@email.com"
          }
          ```

[...]
